
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
client/library/
client/temp/
client/local/
client/build/
client/profiles/
client/native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

